{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Project List</title>
</head>
    <body>
        <header class="container pt-5">
            <nav class="container d-flex flex-row justify-content-end align-items-center">
                {% if request.user.is_authenticated and request.user|is_in_group:"manager" %}
                    <div class="mr-5 primary"><a href="/create_project">Create New Project</a></div>
                    <div class="mr-5"><a href="/users">Users</a></div>
                {% endif %}
                <div>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-warning" type="submit">Log Out</button>
                    </form>
                </div>
                
                <div class="pl-5 text-center">
                    {% if request.user.avatar %}
                        <img src="{{ request.user.avatar.url }}" class="img-fluid rounded-circle mb-2" alt="loaded_avatar"  style="width: 60px;">
                    {% else %}
                        <img src="/media/avatars/default_avatar.png" class="img-fluid rounded-circle mb-2" alt="default_avatar" style="width: 60px;">
                    {% endif %}
                </div>
            </nav>
        </header>


        <div class="container pt-5">
            <h1>Project List</h1>
            <ul>
                {% for project in projects %}
                    <li><a href="{% url 'project_detail' project.slug %}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>                                                                               
        </div>
    </body>
</html>
