<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Edit Time Log</title>
</head>
<body>

    <div class="column p-5">
        <h1>Edit Time Log</h1>
        <form method="post" class="d-flex flex-column pb-5">
            {% csrf_token %}
            <div class="row">
                <div class="col-2">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit">Edit Time Log</button>
                </div>
            </div>
        </form>
        <a href="{% url 'task_detail' task.id %}">Back to the task</a>
    </div>
</body>
</html>
