<!DOCTYPE html>
<html>
    <head>
        <title>Access Denied</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="container mt-5"> 
            <div class="alert alert-warning d-flex flex-column align-items-center" role="alert">
                <h1 class=""><code>Access Denied</code></h1>
                <hr>
                <h3 class="">You dont have permission to view this page.</h3>
                <h3 class="">🚫🚫🚫🚫</h3>
            </div>
        </div>
    </body>
</html>
